body { padding:2%; }
p { font-size:18px; }
#disclaimerSection { color:red; text-align:left; }
#howTo { font-size:16px; }
#instructions { opacity:0; transition: height ease-in 0.2s, opacity linear 0.2s; }
#leftSection { float:left; width:35%; padding-left:1%; height:400px; margin-bottom:100px;  }
#startExperience { text-align:center; padding-top:5%; }
#startExperience button { background-color:limegreen; font-size:22px; padding:1%; cursor:pointer; }
#addChoicesSubSection { border-bottom:1px dashed black; padding-bottom:2%; }
#rightSection {float:left; width:45%; border-left:2px solid black;  padding-left:2%; height:400px; margin-bottom:100px; }
#rightSection table { width:70%; font-size:18px;}
#rightSection table tr:first-child { background-color:lightgray; }
#rightSection div { margin-bottom:10%; }