<!DOCTYPE html>
<html>
<head>
	<title>Main + Upsell Stats</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<style type="text/css">
		body { padding:2%; }
		p { font-size:18px; }
		#disclaimerSection { color:red; text-align:left; }
		#howTo { font-size:16px; }
		#instructions { opacity:0; transition: height ease-in 0.2s, opacity linear 0.2s; }
		#leftSection { float:left; width:35%; padding-left:1%; height:400px;  }
		#startExperience { text-align:center; padding-top:5%; }
		#startExperience button { background-color:limegreen; font-size:22px; padding:1%; cursor:pointer; }
		#addChoicesSubSection { border-bottom:1px dashed black; padding-bottom:2%; }
		#rightSection {float:left; width:45%; border-left:2px solid black;  padding-left:2%; height:400px; }
		#rightSection table { width:70%; font-size:18px;}
		#rightSection table tr:first-child { background-color:lightgray; }
		#rightSection div { margin-bottom:10%; }
	</style>
</head>
<body ng-app = "myApp" ng-controller="myCtrl">
<div id="disclaimerSection">
	<h2>DISCLAIMER: The purpose of this page is to visualize the concept for the project. This does NOT indicate how this will look (or work) in IRIS.</h2>
</div>
<div id="howTo">
	<h2>How To Use This Page: <button ng-click="showInstructions()">Show/Hide Instructions</button></h2>
	<div id="instructions">
		<p>You can use this page to simulate the orders/revenue collected for <strong>one</strong> IRIS Effort. </p>
		<ol>
			<li>First, add choices that would be available through this effort. Include both main & upsell choices.</li>
			<li>Click to start the customer experience.</li>
			<li>Test different combinations of ordering the main & upsell choices.</li>
			<li>Checkout the tables to see how each order updates the order data.</li>
		</ol>	
	</div>
</div>
<div id="leftSection">
	<div id="addChoicesSubSection">
		<h3>Add Choices</h3>
		<table>
			<tr>
				<td>Choice Code</td>
				<td>Price</td>
				<td>Type</td>
			</tr>
			<tr>
				<td><input type="text" placeholder="Enter a choice code" ng-model="newChoiceCode"/></td>
				<td>
					<input type="number" placeholder="Enter number for price" ng-model="newChoicePrice"/>
				</td>
				<td>
					<input type="radio" name="choiceType" ng-model="newChoiceType" value="Main"/>Main
					<input type="radio" name="choiceType" ng-model="newChoiceType" value="Upsell"/>Upsell
				</td>
			</tr>
			<tr>
				<td>
					<button ng-disabled="!newChoiceCode || !newChoicePrice || !newChoiceType" ng-click="addChoice()">Add Choice</button>
				</td>
			</tr>
		</table>	
	</div>
	<div id="startExperience" ng-show="choices.length > 0 && !customerExperience">
		<button ng-click="startCustomerExperience()">Start Customer Experience</button>
	</div>
	<div ng-show="choices.length > 0 && customerExperience">
		<h2>Customer Experience</h2>
		<div ng-show="!mainBought">	
			<p>	This is my order page. Please buy one of my main choices.</p>
			<p ng-repeat="x in choices | filter : {choiceType : 'Main'} ">
				<input type="radio" name="mainChoice" value="{{x.choiceCode}}"/>{{x.choiceCode | uppercase}} - {{x.choicePrice | currency}}
			</p>
			<p ng-show="mainError" style="color:red;">Please select at least one choice</p>
			<button ng-click="validateMain()">Buy Main Choice</button>
		</div>
		<div ng-show="mainBought && !funnelComplete">	
			<p>Thanks. Now, would you like to also buy one of my upsell choices?</p>
			<p ng-repeat="x in choices | filter : {choiceType : 'Upsell'} ">
				<input type="radio" name="upsellChoice" value="{{x.choiceCode}}"/>{{x.choiceCode | uppercase}} - {{x.choicePrice | currency}}
			</p>
			<p ng-show="upsellError" style="color:red;">Please select at least one choice.</p>
			<button ng-click="validateUpsells()">Yes please!</button> 
			<button ng-click="noUpsells()">No thanks!</button>
		</div>
		<div ng-show="funnelComplete">	
			<h3>Funnel complete.</h3>
			<button ng-click="newOrder()">New Order</button>
		</div>
	</div>
</div>

<div id="rightSection" ng-show="choices.length > 0">
	<div ng-show="choices.length > 0">
		<h3>Choices</h3>
		<table>
			<tr>
				<td>Choice Code</td>
				<td>Type</td>
				<td>Price</td>
				<td>Orders</td>
			</tr>
			<tr ng-repeat="x in choices | orderBy: 'choiceType' ">
				<td>{{x.choiceCode | uppercase}}</td>
				<td>{{x.choiceType}}</td>
				<td>{{x.choicePrice | currency}}</td>
				<td>{{x.purchases}}</td>
			</tr>
		</table>
	</div>
	<div ng-show="choices.length > 0 && customerExperience">
		<h3>Summary Reporting</h3>
		<table>
			<tr>
				<td>Type</td>
				<td>Orders</td>
				<td>Revenue</td>
			</tr>
			<tr>
				<td>Main</td>
				<td>{{mainOrders}}</td>
				<td>{{mainRevenue | currency}}</td>
			</tr>
			<tr>
				<td>Upsell</td>
				<td>{{upsellOrders}}</td>
				<td>{{upsellRevenue | currency}}</td>
			</tr>
			<tr>
				<td>"Combo" (main + upsell)</td>
				<td>{{comboOrders}}</td>
				<td>{{comboRevenue | currency}}</td>
			</tr>
		</table>
	</div>
</div>
<div>
</div>
<div style="margin-top:100px; height:100px;"></div>
<!-- <script type="text/javascript" src="./main_plus_upsell.js"></script> -->
<script type="text/javascript">
	
var app = angular.module("myApp", []);

app.controller("myCtrl", function($scope){

	$scope.choicesSetupButton = "Save Choices";
	$scope.mainOrders = $scope.upsellOrders = $scope.mainRevenue = $scope.upsellRevenue = $scope.comboOrders = $scope.comboRevenue = 0;
	$scope.shown = false;

	$scope.choices = [];

	$scope.startCustomerExperience = function(){
		$scope.customerExperience = true;
	}

	$scope.showInstructions = function(){
		if ($scope.shown){
			document.getElementById("instructions").style.opacity = "0";
		} else {
			document.getElementById("instructions").style.opacity = "1";
		}
		$scope.shown = !$scope.shown;		
	}


	$scope.addChoice = function(){
		var obj = {};
		obj["choiceCode"] = $scope.newChoiceCode;
		obj["choicePrice"] = $scope.newChoicePrice;
		obj["choiceType"] = $scope.newChoiceType;
		obj["purchases"] = 0;
		$scope.newChoiceCode = "";
		$scope.newChoicePrice = "";
		$scope.newChoiceType = "";
		$scope.choices.push(obj);
	}

	$scope.validateMain = function(){
		var selectedMain = document.querySelectorAll("input[name='mainChoice']:checked");
		if (selectedMain.length > 0){
			$scope.mainBought = true;
			$scope.mainError = false;
		} else {
			$scope.mainError = true;
		}
		
	}

	$scope.validateUpsells = function(){
		var selectedUpsell = document.querySelectorAll("input[name='upsellChoice']:checked");
		if (selectedUpsell.length > 0){
			$scope.completeOrder();
			$scope.upsellError = false;
		} else {
			$scope.upsellError = true;
		}
	}

	$scope.resetMains = function(){
		var inputs = document.getElementsByName("mainChoice");
		for (var x = 0; x < inputs.length; x++){
			inputs[x].checked = false;
		}
	}

	$scope.resetUpsells = function(){
		var inputs = document.getElementsByName("upsellChoice");
			for (var x = 0; x < inputs.length; x++){
			inputs[x].checked = false;
		}
	}

	$scope.noUpsells = function(){
		$scope.upsellError = false;
		$scope.resetUpsells();
		$scope.completeOrder();
	}

	$scope.getChoiceIndex = function(choiceCode){
		var index = -1;
		for (var x = 0; x < $scope.choices.length; x++){
			if ($scope.choices[x].choiceCode == choiceCode){
				return x;
			}
		}
	}

	$scope.completeOrder = function(){
		var index;
		var selectedMain = document.querySelectorAll("input[name='mainChoice']:checked");
		var selectedUpsell = document.querySelectorAll("input[name='upsellChoice']:checked");

		if (selectedUpsell.length > 0){
			index = $scope.getChoiceIndex(selectedUpsell[0].value);
		} else {
			index = $scope.getChoiceIndex(selectedMain[0].value);
		}

		$scope.choices[index].purchases++;
		var type = $scope.choices[index].choiceType;
		var price = $scope.choices[index].choicePrice;
		if (type == "Main"){
			$scope.mainOrders++;
			$scope.mainRevenue += price;
		} else {
			$scope.upsellOrders++;
			$scope.upsellRevenue += price;
		}
		$scope.comboOrders = $scope.mainOrders + $scope.upsellOrders;
		$scope.comboRevenue = $scope.mainRevenue + $scope.upsellRevenue;
		$scope.funnelComplete = true;
	}
	
	$scope.newOrder = function(){
		$scope.funnelComplete = false;
		$scope.mainBought = false;
		$scope.resetMains();
		$scope.resetUpsells();			
	}
});
</script>
</body>
</html>
